<p-table
#dt
[value]="pessoas"
dataKey="id"

[paginator]="true"
[rows]="5"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[10,25,50]"
[loading]="loadingLista"
styleClass="p-datatable-customers"
currentPageReportTemplate="Exibindo de {first} a {last} de um total de {totalRecords}"
[filterDelay]="0"
[globalFilterFields]="['nome','cpf','email','dataNascimento']"

>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
            <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
            <th pSortableColumn="email">EMAIL <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="dataNascimento">Data de nascimento <p-sortIcon field="codataNascimentode"></p-sortIcon></th>
        </tr>
        <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'nome', 'startsWith')" placeholder="Nome" class="p-column-filter inputFilter">
        </th>
        <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'cpf', 'startsWith')" placeholder="CPF" class="p-column-filter inputFilter">
        </th>
        <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'startsWith')" placeholder="Email" class="p-column-filter inputFilter">
        </th>
        <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'dataNascimento', 'startsWith')" placeholder="Data Nascimento" class="p-column-filter inputFilter">
        </th>
    </ng-template>
    <ng-template pTemplate="body" let-pess>
        <tr>
            <td>{{pess.nome}}</td>
            <td>{{pess.cpf}}</td>
            <td>{{pess.email}}</td>
            <td>{{pess.dataNascimento | date: 'dd / MM / yyyy'}}</td>
        </tr>
    </ng-template>
</p-table>