<p-panel header="Cadastrar pessoa">
    <p-fieldset legend="Pessoa">
        
        <div class="col-xs-4 col-md-4 col-lg-4">
            
            <div style="clear: both; width: 100%; margin-bottom: 30px;">
                <div width="110px;" height="150px;" style="float: left;">
                    <img src="{{pessoa.fotoBase64}}" width="110px;" height="150px;" *ngIf="pessoa.fotoBase64 != null && pessoa.fotoBase64 != ''"/> 
                </div>
                <p-fileUpload 
                    #uploader 
                    mode="basic"
                    [multiple]="false" 
                    accept="image/*" 
                    maxFileSize="1000000"
                    [showUploadButton]="false"
                    [showCancelButton]="false" 
                    (onSelect)="onSelectImage($event.files)"
                    chooseLabel="Foto">
                </p-fileUpload>
            </div>
    
            <div class="formInput">
                <label class="inputLabel12">Nome</label>
                <input id="inputNome" type="text" pInputText [(ngModel)]="pessoa.nome">
            </div>
    
            <div class="formInput">
                <label class="inputLabel12">CPF</label>
                <p-inputMask 
                    id="inputCpf"
                    mask="999.999.999-99" 
                    [(ngModel)]="pessoa.cpf"
                    placeholder="___.___.___-__">
                </p-inputMask>
            </div>
    
            <div class="formInput">
                <label class="inputLabel12">Email</label>
                <input id="inputEmail" type="text" pInputText [(ngModel)]="pessoa.email">
            </div>
    
            <div class="formInput">
                <label class="inputLabel12">Data de nascimento</label>
                <p-calendar 
                    inputId="inputDataDeNascimento"
                    yearRange="1900:2100"
                    [(ngModel)]="pessoa.dataNascimento"
                    [showIcon]="false" [monthNavigator]="true" [yearNavigator]="true"
                    dateFormat="dd/mm/yy" [showTime]="false" [maxDate]="hoje" [readonlyInput]="true">
                </p-calendar>
                <i class="pi pi-calendar"></i>
            </div>

            <div class="formInput" style="margin-top: 20px;">
    
            </div>
            
        </div>
    
    </p-fieldset>

    <br/>
    
    <p-button label="Salvar" (click)="salvarPessoa();"></p-button>
    &nbsp;&nbsp;
    <p-button label="Limpar" (click)="limpar();"></p-button>

</p-panel>
