<label class="titulo">Cadastro de pessoa</label>

<p-fieldset legend="Pessoa">
    
    <div class="col-xs-4 col-md-4 col-lg-4">

        <div class="formInput">
            <label class="inputLabel12">Nome</label>
            <input id="inputNome" type="text" pInputText [(ngModel)]="novaPessoa.nome">
        </div>

        <div class="formInput">
            <label class="inputLabel12">CPF</label>
            <p-inputMask 
                id="inputCpf"
                mask="999.999.999-99" 
                [(ngModel)]="novaPessoa.cpf"
                placeholder="___.___.___-__">
            </p-inputMask>
        </div>

        <div class="formInput">
            <label class="inputLabel12">Email</label>
            <input id="inputEmail" type="text" pInputText [(ngModel)]="novaPessoa.email">
        </div>

        <div class="formInput">
            <label class="inputLabel12">Data de nascimento</label>
            <p-calendar 
                inputId="inputDataDeNascimento"
                yearRange="1900:2100"
                [(ngModel)]="novaPessoa.dataDeNascimento"
                [showIcon]="false" [monthNavigator]="true" [yearNavigator]="true"
                dateFormat="dd/mm/yy" [showTime]="false" [maxDate]="hoje" [readonlyInput]="true">
            </p-calendar>
        </div>
        
    </div>

</p-fieldset>

<br/>

<p-button label="Salvar" (click)="cadastrarPessoa();"></p-button>